{{ include base }}
<div class="splash">
  <img src="{{ site_cdn_path }}/images/splash.png"/>
  <div class="top-stories-wrapper" style="background-image: url('{{ site_cdn_path }}/images/navpanel-bg.png');">
    <div class="top-stories-caption">
      <p>Top Stories</p>
    </div>
    <div class="top-stories">
      <p><a href="/sl">Why google dont publish there Page Rank</a></p>
      <p><a href="/ehaka">There is nothing like Python</a></p>
      <p><a href="/xay">Python, JSON and NoSQL. The Web 3.0</a></p>
    </div>
  </div>
</div>
