body {
       padding: 0;
       margin: 0;
       border-top: thick solid #444;
       color: #444;
       background-color: #fff;
       font-family: Georgia, "Bitstream Charter", serif;
       }
.wrapper {
           width: 800px;
           margin: 0 auto;
           }
.header {
          text-align: center;
          font-size: 28px;
          margin-bottom: 40px;
          margin-top: 40px;
          }
.header p {
            margin-top: 0;
            padding-top: 0;
            }
.header a, .header a:hover, .header a:visited {
                                                text-decoration: none;
                                                color: #444;
                                                cursor: pointer;
                                                }
.navpanel {
            text-align: center;
            margin-bottom: 50px;
            }
.navpanel .flexispan {
                       padding: 5px 10px;
                       webkit-border-radius: 3px;
                       moz-border-radius: 3px;
                       border-radius: 3px;
                       }
.navpanel .flexispan .catbutton {
                                  padding: 0px 5px;
                                  }
.catbutton a, .catbutton a:visited {
                                     color: #666;
                                     text-decoration: none;
                                     cursor: pointer;
                                     }
.catbutton a:hover {
                     color: #666;
                     cursor: pointer;
                     text-decoration: underline;
                     }

.title {
         font-size: 26px;
         }
.footer {
	text-align: center;
	margin: 25px 0 15px 0;
	}
.splash {
          text-align: center;
          width: 720px;
          margin: 0 auto;
          }
.splash img {
              webkit-border-top-left-radius: 15px;
              webkit-border-top-right-radius: 15px;
              moz-border-radius-topleft: 15px;
              moz-border-radius-topright: 15px;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              padding: 0;
              margin: 0;
              }
.top-stories-wrapper {
                       padding: 10px;
                       margin: 0;
                       height: 55px;
                       -webkit-border-bottom-right-radius: 15px;
                       webkit-border-bottom-left-radius: 15px;
                       moz-border-radius-bottomright: 15px;
                       moz-border-radius-bottomleft: 15px;
                       border-bottom-right-radius: 15px;
                       border-bottom-left-radius: 15px;
                       }
.top-stories-caption {
                       float: left;
                       width: 150px;
                       border-right: medium dashed #ccc;
                       height: 50px;
                       }
.top-stories-caption p {
                         margin: 0;
                         padding: 0;
                         font-size: 14px;
                         color: #666;
                         text-align: left;
                         }
.top-stories {
               float: right;
               width: 500px;
               }
.top-stories p, .top-stories a {
                                 font-size: 14px;
                                 color: #444;
                                 padding: 0;
                                 margin: 0;
                                 text-align: left;
                                 }
a {
    color: #444;
    text-decoration: underline;
    }
a:hover {
                       color: #777;
                       }
a:visited {
                         color: #999;
                         }
.top-stories p {
                 margin-bottom: 4px;
                 }
ul {
     list-style-type:none;
     padding: 0 20px;
     margin-bottom: 40px;
     }
